<div [@routerTransition]>
    <!--header-->
    <section class="content-header">
        <div class="container-fluid">
            <!-- <div class="card">
                <p><i class="fa fa-cags"></i> {{ "Settings" | localize }} / {{ "CaseStatus" | localize }}</p>
            </div> -->
        </div>
    </section>

    <!--body-->
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <nz-breadcrumb>
                                <nz-breadcrumb-item>
                                    <i nz-icon nzType="setting"></i>
                                </nz-breadcrumb-item>
                                <nz-breadcrumb-item>
                                    {{l("Indexes")}}
                                </nz-breadcrumb-item>
                                <nz-breadcrumb-item>
                                    <a><i nz-icon nzType="tags"></i><span>{{l("CaseStatus")}}</span></a>
                                </nz-breadcrumb-item>
                                
                            </nz-breadcrumb>

                        </div>
                        <div class="col-6 text-right">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ejs-grid id="CaseStatusGrid" #caseStatusGrid
                    [dataSource]="allCaseStatus" 
                    [allowPaging]="true" 
                    [allowSorting]="true"
                    [allowFiltering]="true"
                    [allowGrouping]="true"
                    [pageSettings]="pageSettings"
                    [filterSettings]='filterOption'
                    >
                    <!--toolbar-->
                    <ng-template #toolbarTemplate>
                        <grud-toolbar
                        [createPermision]="'Pages.CaseStatus.Create'"
                        (onCreate)="showCreateDialog()"
                        (onClearFilters)="clearFilters()"
                        (onClearSorts)="clearSorts()"
                        ></grud-toolbar>
                    </ng-template>
                    <!--Columns-->
                        <e-columns>
                            <e-column 
                            headerText="{{l('Commands')}}" 
                            textAlign='Center'
                            width="150"
                            *ngIf="permission.isGranted('Pages.CaseStatus.Edit') || permission.isGranted('Pages.CaseStatus.Delete')"
                            >
                                <ng-template #template let-data>
                                    <div class="e-unboundcelldiv" style="display: inline-block">
                                        <button nz-button nzType="primary" nzShape="circle" nzGhost
                                        *ngIf="permission.isGranted('Pages.CaseStatus.Edit')"
                                            title="{{l('Edit')}}" (click)="showEditDialog(data.id)"><i
                                                class="far fa-edit"></i></button>
                                        <button nz-button nzType="default" nzShape="circle" nzDanger
                                            title="{{l('Delete')}}" (click)="delete(data)"><i
                                            *ngIf="permission.isGranted('Pages.CaseStatus.Delete')"
                                                class="far fa-trash-alt"></i></button>
                                    </div>
                                </ng-template>
                            </e-column>
                            <e-column field="id" headerText="Id" isPrimaryKey="true" [visible]="false"></e-column>
                            <e-column field="name" headerText="{{l('Name')}}" textAlign="center"></e-column>
                            <e-column field="order" headerText='{{ l("Order") }}' editType= 'numericedit' textAlign="center"></e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </section>
</div>